<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>唧 Chage ~ 第五唧部落格(Git Blog) - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="alternate" type="applicationi/atom+xml" href="/atom.xml" title="ATOM Feed" />
</head>
<body>
	<div id="container">
		<header id="header">
			<h1><a href="/">唧 Chage ~ 第五唧部落格(Git Blog)</a></h1>
			<h5>There's always something needed to BE LOGGED.</h5>
		</header>
		<nav id="nav"></nav>
		<div id="main">
			{{ content }}
		</div>
		<footer id="footer">
			<p>Copyright © 2013, Chage Juan, All rights reserved.</p>
		</footer>
	</div>
</body>
</html>
